*,
*:after,
*:before {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
  background-color: $window-bgcolor;
  font-family: $primary-font;
}

/* HEADER */
header {
  text-align: center;
  height: 9vw;
  text-transform: uppercase;
}

button:active {
  border: none;
  outline: none;
}

.profile-button {
  background-image: url(../images/profile.png);
  background-position: center;
  background-size: 5.6vw;
  border: none;
  display: inline;
  float: right;
  height: 5.6vw;
  margin-right: .5vw;
  margin-top: 1.6vw;
  width: 5.6vw;
}

.user-info-dropdown {
  background-color: $window-bgcolor;
  color: $light-text-color;
  margin-left: 60%;
  margin-top: -1.2%;
  position: relative;
  text-align: center;
  z-index: 100;
}

.dropdown-p {
  font-size: 1.2vw;
  font-weight: 300;
  padding-bottom: 1vw;
  padding-top: 0;
  text-align: center;
  width: 100%;
}

/* MAIN */
main {
  display: grid;
  grid-template-areas:
  'steps hydration'
  'stairs sleep';
  height: 100%;
  gap: .5vw;
}

.main-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 20vw;
  justify-content: center;
}

.main-card-top-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-card-bottom-row {
  text-align: center;
  width: 100%;
}

.card-container {
  text-transform: uppercase;
}

.steps-card-container {
  background-color: $step-card-bgcolor;
  grid-area: steps;
}

.hydration-card-container {
  background-color: $hydration-card-bgcolor;
  grid-area: hydration;
}

.stairs-card-container {
  background-color: $stairs-card-bgcolor;
  grid-area: stairs;
}

.sleep-card-container {
  background-color: $sleep-card-bgcolor;
  grid-area: sleep;
}

.card-data-line {
  display: flex;
  justify-content: center;
  margin-bottom: 2vw;
}

.hydration-weekly-label {
  font-size: 1vw;
  padding-top: 1vw;
}

.hydration-weekly-amount {
  font-size: 2vw;
}

.hydration-data-line {
  display: flex;
  justify-content: center;
  margin-bottom: .2vw;
}

.trend-line {
  font-size: 2vw;
  text-align: center;
  width: 20vw;
}
