// Colors
$window-bgcolor: #1F1F1F;
$step-card-bgcolor: #F5634B;
$hydration-card-bgcolor: #54C6BE;
$stairs-card-bgcolor: #8975B2;
$sleep-card-bgcolor: #FBD089;

$light-text-color: white;
$green-text-color: green;
$red-text-color: red;
$yellow-text-color: #F8BA00;

// Fonts
$primary-font: 'Oswald', sans-serif;
$secondary-font: 'Work Sans', sans-serif;

// Spacing
$button-spacing: 1vw;

// Mixins
@mixin alignCentered() {
  display: flex;
  align-items: center;
}

@mixin justifyCentered() {
  display: flex;
  justify-content: center;
}